li,
ol,
ul {
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  list-style-type: disc;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

footer .flo_fnb .footer_title a {
  color: #000;
}

footer .flo_fnb li {
  padding: 8px 0;
}

footer .flo_fnb a,
footer .flo_fnb button,
footer .flo_fnb div {
  color: #8e8e93;
}

footer .policy_area li:first-child {
  padding-left: 0;
}

footer .policy_area li {
  position: relative;
  display: inline-block;
  padding: 0 8px;
}

footer .policy_area ul {
  font-size: 0;
}

footer .policy_area li a {
  font-size: 12px;
  color: #8e8e93;
}

footer address {
  padding-top: 16px;
  overflow: hidden;
}
address {
  display: block;
  font-style: italic;
}

footer address .address_bottom {
  margin-top: 4px;
}

footer address [class*="address_"] {
  overflow: hidden;
}

footer address span {
  position: relative;
  display: inline-block;
  padding-right: 7px;
  padding-left: 8px;
  font-size: 11px;
  font-style: normal;
  color: #bcbcc0;
}

span {
  padding: 0;
  margin: 0;
  border: 0;
}

element.style {
}

address,
body,
button,
dd,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
ol,
p,
span,
td,
th,
ul {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: Pretendard Variable, Pretendard, -apple-system,
    BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}
