h3 {
    color: white;
}

.play-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.download-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.delete-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
}


.play-img {
    width: 20px;
    height: 25px;
}
.download-img {
    width: 20px;
    height: 20px;
}
.delete-img {
    width: 20px;
    height: 20px;
}